body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'header section aside div'
                         'footer footer footer footer';
grid-auto-rows:20vh 70vh 40vh;
}
nav{
    grid-area: navbar;
    background-color: violet;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
nav a{
    color: black;
    font-family:'Pacifico', cursive;
    font-size:30px;
    }
header{
    grid-area: header;
    background-color: blueviolet
}
section{
    grid-area: section;
    background-color: aquamarine;
}
aside{
    grid-area: aside;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color: plum;
}
.Gretchen{
    width: 200px;
    height: 200px;
    border-radius: center;
}
header, section, aside, div{
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    grid-area: div;
    background-color: royalblue;
}
nav img{
    cursor: pointer;
    display: none;
}
@media(max-width:768px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             ' header header section section'
                             ' aside aside div div'
                             'footer footer footer footer';
        grid-template-rows:   20vh 70vh 70vh 40vh;                   
                        
                             

    }
    nav a{
        display:none;
    }
    nav img{
        display:block;
        width: 20px;
    }
}
@media(max-width:425px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             ' header header header header'
                             ' section section section section'
                             'aside aside aside aside'
                             'div div div div'
                             'footer footer footer footer';
                             grid-template-rows: 20vh 50vh 50vh 50vh 40vh;
    }   
}


